body{
    margin: 0 0 0 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.centered{
    text-align: center;
    margin: auto;
    justify-content: center;
}
.left{
    margin-left: 100px;
}
.hori-parent{
    display: flex;
    flex-direction: row;
}
h2{
    margin-bottom: 15px;
    font-size: 30px;
}

p{
    font-size: 18px;
    line-height: 30px;
}

/* navbar */
nav {
    width: 100%;
    background-color: #2C2C2C;
}
nav ul{
    margin: 0 0 0 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 15px 5px 13px 5px;
}
nav ul li{
    padding: 5px;
}

nav a{
    color: white;
    text-decoration: none;
    padding: 0px 10px 0px 10px;
    margin: 0px;
    border: 5px;
}
nav ul li:first-child{
    margin-right: auto;
    text-align: left;
    padding-left: 10px;
}

nav ul li:last-child{
    background: #005EB8;
    border-radius: 9px;
    border: 5px solid #005EB8;
    padding: 0px;
    margin-right: 7px;
}

/* banner */
#banner {
    height: 253px;
    background: #0465C2;
    mix-blend-mode: normal;
    opacity: 0.85;
    text-align: center;
    color: #FFFFFF;
}

#banner h1{
    margin: 0px;
    font-size: 50px;
    padding-top: 70px;
}
#banner p{
    font-style: italic;
    font-weight: 500;
    font-size: 30px;
}

/* Who Are We? */

#aboutUs p {
    width: 714px;
    text-align: justify;
}

#aboutUs img {
    width: 100px;
    height: 100px;
    margin-left: 90px;
}

/* Our Mission */
#mission p {
    width: 714px;
    text-align: justify;
    margin-left: 50px;
    margin-bottom: 0px;
}

#mission img {
    width: 100px;
    height: 100px;
    margin-top: 18px;
}

#mission2 {
    text-align: left;
    width: 870px;
}
